@font-face{
  font-family:frutiger;
  src:url(fonts/frutiger.ttf);
}
@font-face{
  font-family:meredien;
  src:url(fonts/meredien_med.ttf);
}

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image:url('images/DBPatt3.png');
  background-color:#2F3D5D;
  background-attachment:fixed;
  background-size:100% 100%;
  margin-top:20px;
  //font-family:frutiger;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  letter-spacing:light;
}

h1,h2,h3,h4,h5,h6{
  font-family: Georgia, serif;
  font-weight: normal;
}

p, ul, ol{
  line-height:1.5em;
}

.wrapper_full{
  background-image:url('images/WPatt1.png');
  background-color:#ffffff;
  width:100%;
  max-width:1000px;
  overflow:hidden;
  margin:0 auto;
  padding:0;
}

#top_bar{
  width:100%;
  text-align:center;
  //background:#8A713F;
  background-image:url('images/LBRPatt1.png');
  font-size:20px;
  font-family:frutiger;
}

#resume_pic{
  width:55%;
  height:auto;
}

#top_bar img{
  padding-top:23px;
}


/*
#me_pic{
  background-image:url('images/About_Me.png');
}

#blog_pic{
  background-image:url('images/Blog.png');
}

#resume_pic{
  background-image:url('images/Resume.png');
}*/

#top_bar ul{
  margin-top:100px;
  margin-bottom:20px;
  margin-left:-40px;
  display:inline-block;
}

#top_bar ul li{
  display:inline;
  display:inline-block;
  background-image:url('images/MBR2Patt2.png');
  margin-left:25px;
  margin-right:25px;
  opacity:.5;
  border-radius:10px;
  border-bottom-right-radius:15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#top_bar ul li a{
  display:block;
  float:left;
  text-decoration:none;
  font-family: Georgia, serif;
  font-weight: bold;
  padding:7px 15px 7px 15px;
  color:#ffffff;
  width:150px;
  height:150px;
  //opacity:1;
}

#all_content{
  width:65em;
  //width:1000px;
  margin:0 auto;
  //margin-left:auto;
  //margin-right:auto;
  height:600px;
}

.content{
  display:none;
  min-height:600px;
  // overflow:hidden;
}

.blurb{
  display:inline-block;
  float:left;
  width:25%;
  margin:20px;
  padding:10px;
  // background-color:#F0C5C5;
}

#leaving_tab{
  text-align:center;
}

#contact_wrapper{
  width:100%;
  background-image:url('images/LBRPatt1.png');
  //background:#B48934;
  //height:150px;
  float:left;
}

#contact{
  width:90%;
  margin:0 auto;
  color:#000000;
  font-size:14px;
  text-align:center;
}

.contact_sec{
  width:20%;
  float:left;
  margin-bottom:10px;
  margin-top:-15px;
}

#social_links{
  list-style:none;
  text-align:center;
}

.social_link{
  float:left;
  display:inline;
  padding:3px;
}

#copyright{
  display:block;
  float:left;
  width:100%;
  text-align:center;
}

#copyright p{
  color:#ffffff;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  //margin-right: 0.1em;
  font-size: 420%;
}

a.symbol {
  padding: 3px 5px 3px 5px;
  color: white;
  text-decoration: none;
}

#externals{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

#externals ul {
  margin-top:100px;
  margin-bottom:100px;
  margin-left:-40px;
  display:inline-block;
}

#externals ul li {
  //display:inline;
  display:inline-block;
  //margin-right:10px;
  padding-left:20px;
  padding-right:20px;
  opacity:1;
}
/*
#externals ul li a{
  background-image:url('images/MBRPatt1.png');
}*/